@charset "utf-8";
#viewer_float{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
}

#viewer{
    margin: auto;
}

#viewer img{
    width: 100%;
}